<div id="small-nav" class="col-md-2">
    <div class="navbar-header">
        <a (click)="toggle()" class="title">
            <div *ngIf="!isOpen">
                <span id="burger-menu" class="glyphicon glyphicon-align-justify"></span>
            </div>
            <div *ngIf="isOpen">
                <span id="burger-menu" class="glyphicon glyphicon-menu-down"></span>
            </div>
        </a>
    </div>
    <div [hidden]="!isOpen" class="content">
        <ul class="nav navbar-nav">
            <li class="menu-item"><a routerLink="/home" (click)="toggle()" routerLinkActive="active"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="menu-item"><a routerLink="/blog/home" (click)="toggle()" routerLinkActive="active"><span class="glyphicon glyphicon-th-large"></span></a></li>
        </ul>
    </div>
</div>