<div class="container">
    <section class="row">
        <article *ngFor="let blog of blogs" (click)="onSelect(blog)" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                  <h5 id="aux">{{ blog.subTitle }}</h5>
                  <img class="img-responsive" src="{{ blog.imgUrl }}" />
                </div>
                <div class="panel-footer">
                    <h3 id="title">{{ blog.title }}</h3>
                </div>
            </div>
        </article>
    </section>
</div>